.Reasons {
  display: flex;
  padding: 0 5rem;
}
.Reasons .Reasons_left {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
}
.Reasons .Reasons_left > :nth-child(1) {
  width: 12rem;
  grid-row: 1/3;
  height: 28rem;
}
.Reasons .Reasons_left > :nth-child(2) {
  width: auto;
  height: 16rem;
  grid-column: 2/4;
}
.Reasons .Reasons_left > :nth-child(3) {
  width: 14rem;
}
.Reasons .Reasons_left > :nth-child(4) {
  width: 10rem;
}
.Reasons .Reasons_left img {
  object-fit: cover;
}
.Reasons .Reasons_right {
  flex: 1 1;
  height: 1rem;
}
.Reasons .Reasons_right span {
  color: #f48915;
  font-weight: 600;
}
.Reasons .Reasons_right h1 {
  font-size: 3.7rem;
  color: #fff;
  margin: 20px 0;
}
.Reasons .Reasons_right h1 .stroke-text {
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  font-style: italic;
}
.Reasons .Reasons_right .Reasons_tick {
  display: flex;
  margin-bottom: 0.1rem;
  color: #fff;
  align-items: center;
  gap: 1rem;
}
.Reasons .Reasons_right .Reasons_tick img {
  width: 2.5rem;
}
.Reasons .Reasons_right .Reasons_logos {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.Reasons .Reasons_right .Reasons_logos span {
  font-weight: 500;
  margin-top: 1.1rem;
}
.Reasons .Reasons_right .Reasons_logos .logos {
  display: flex;
  gap: 1rem;
}