.header {
  display: flex;
  justify-content: space-between;
}
.header .list {
  display: flex;
  gap: 30px;
  list-style: none;
  text-transform: capitalize;
  color: #fff;
}
.header .list li {
  width: max-content;
  padding: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.header .list li:hover {
  color: #fbb403;
}
@media screen and (max-width: 800px) {
  .header .list {
    display: none;
  }
}
.header .burger_menu {
  display: none;
}
@media screen and (max-width: 800px) {
  .header .burger_menu {
    display: flex;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}
.header img {
  width: 10rem;
  height: 3rem;
}